body{
    font-family: "lato" sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 100%;
    background-color: transparent;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
align-items-center{
    align-items: center;
}
justify-content-between{
    justify-content: space-between;
}
/*header*/
.header .nav{
    padding: 15px 10px;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 20px;
}
